.flip-card2 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}


.flip-card-inner2 {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /*  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

.flip-card2:hover .flip-card-inner2 {
    transform: rotateY(180deg);
}

.flip-card-front2,
.flip-card-back2 {
    position: absolute;
    width: 100px;
    height: 150px;
    backface-visibility: hidden;
}

.flip-card-front2 {
    background-color: gainsboro;
    color: black;
}

.flip-card-back2 {
    background-color: skyblue;
    color: white;
    transform: rotateY(180deg);
}
